{% extends 'index.html' %}

{% block content %}
       <!-- ======= Menu Section ======= -->
    {% include 'menu.html' %}

    <!-- ======= Events Section ======= -->
    {% include 'events.html' %}

    <!-- ======= Chefs Section ======= -->
    {% include 'staff.html' %}

    <!-- ======= Book A Table Section ======= -->
    {% include 'reservation.html' %}

    <!-- ======= Gallery Section ======= -->
    {% include 'gallery.html' %}

    <!-- ======= Contact Section ======= -->
    {% include 'contact.html' %}

{% endblock %}
